
h1 {
    font-size: "24px";
    text-align: "center";
    margin: 0;
    padding: "48px";
}
 
body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    color: white;
}

.todo_container{
    background: linear-gradient(to right, #df08a5, #9709db);
    padding: 20px;
    width: 100vw;
    height: 100vh;
}
.add-task {
    box-shadow:0 5px 50px #a780f7bd
}
.boton-add{
    background-color: #8008b7
    ;
}

.boton-add:hover{
    background-color: #b37dcc;
    border: #9709db;
}
.add-input {
    border-radius: 6px;
    border: 2px solid #301aa9;
   
    font-size: 24px;

    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}
.title-create {
    text-shadow: 2px 2px 4px rgb(61 56 56 / 66%);
}

/* items */
.list-task {
     box-shadow:0 5px 50px #9f079cbd
}

.TodoItem{
    width: 80vh;
}
.TodoItem-p {
    margin: 12px 0 12px 40px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  .TodoItem-p--complete {
    text-decoration: line-through;
  }
  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #CCC; */
  }
  .card-check--active{
   background-color: #c1c1c1; 
  }
  .Icon-check {
    position: absolute;
    left: 12px;
  }
  .Icon-check--active {
    color: #14b31b;
  }
  
  .Icon-delete {
    position: absolute;
    top: 12px;
    right: 0;
  }
  .Icon-delete:hover {
    color: red;
  }
  
  /* todo search*/
  .TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: #61DAFA;
  }
  .TodoSearch {
    border-radius: 6px;
    border: 2px solid #301aa9;
  
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  }

  /* todoCOuter*/

  .title-task{
    font-size: 5em;
    background: linear-gradient(to right, #003aff, #1bda22);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgb(49 49 49 / 50%);
  }

  /* TodoLoading */
  .loading-task{
    width: 80vh;
    padding: 12px 0;
}
  .LoadingTodo-text {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  
  .loading-check,
  .loading-delete {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 48px;
    width: 48px;
  }
  .loading-check {
    position: absolute;
    left: 12px;
    top: 17px;
  }
  .loading-delete {
    position: absolute;
    top: 14px;
    right: 0;
  }

  .loading-task,
  .loading-delete,
  .LoadingTodo-text,
  .loading-check {
    background: linear-gradient(90deg, rgb(200, 200, 200), rgb(124, 124, 124));
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
	
  }
  @keyframes loadingAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }